# Pandas

## Example with DataFrame, Series from CSV

In [1]:
import pandas as pd

To load a `DataFrame` of life expectancy data from [Gapfinder](https://www.gapminder.org/):

In [13]:
bmi_life_data = pd.read_csv('bmi_and_life_expectancy.csv')
bmi_life_data.head()

       Country  Life expectancy       BMI
0  Afghanistan             52.8  20.62058
1      Albania             76.8  26.44657
2      Algeria             75.5  24.59620
3      Andorra             84.6  27.63048
4       Angola             56.7  22.25083

To access a column as a `Series`:

In [14]:
a = bmi_life_data['BMI']
a.values[0:5,]

array([20.62058, 26.44657, 24.5962 , 27.63048, 22.25083])

If you want to change the shape of the `Series` so that every value is a separate array (e.g., to pass into scikit-learn):

In [15]:
a = bmi_life_data[['BMI']]
a.values[0:5,]

array([[20.62058],
       [26.44657],
       [24.5962 ],
       [27.63048],
       [22.25083]])